

@media(max-width: 768px){
    .stats-sec{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
    }

    .stats-sec-item{
        gap: 10px;
    }

    .stats-sec-item img{
        width: 35px;
    }

    .stats-sec-item  div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .stats-sec-item h5{
        font-size: 14px
    }

    .stats-sec-item p{
        font-size: 12px;
    }

    .main-content-grid{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 5px;
    }

    .main-content{
        padding: 15px;
    }

    .center-btn svg { width: 30px; height: 30px; }
    .center-btn.big-play svg { width: 40px; height: 40px; }

    .bottom-controls {
        padding: 30px 10px 5px 10px;
    }

    .left-pill {
        gap: 10px;
        padding: 5px;
        margin-bottom: 5px;
    }

    .time-text {
        font-size: 12px;
    }

    .right-actions svg { width: 10px; height: 10px; }

    .watch-content{
        gap: 10px;
    }

    .watch-content h2{
        font-size: 18px;
    }

    .watch-content p{
        font-size: 14px;
    }

    .watch-cta{
        padding: 10px;
        gap: 30px;
    }

    .watch-cta-stack{
        position: relative;
        width: unset;
        height: 60px;
        width: 80px;
    }

    .watch-cta-thumb.sub-thumb.one{
        height: 60px;
        left: unset;
        right: 0px;
    }

    .watch-cta-thumb.sub-thumb.two{
        z-index: 1;
        height: 50px;
        left: unset;
        right: -10px;
    }

    .watch-cta-r button{
        padding: 8px;
        gap: 8px;
    }

    .watch-cta-r button img{
        width: 18px;
        height: 18px;
    }

    .watch-cta-r button span{
        font-size: 13px;
    }

    .new-content{
        padding: 20px 10px;
        flex-direction: column;
    }

    .new-content-l{
        gap: 15px;
        padding: 15px;
        width: 100%;
    }

    .new-content-l div{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    
    .newsletter-sec{
        height: auto;
        align-items: unset;
        justify-content: unset;
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px;
    }

    .newsletter-sec-l h3{
        font-size: 22px;
        line-height: normal;
    }

    .newsletter-sec-l p{
        font-size: 14px;
    }

    .newsletter-sec-r form{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 0;
        position: relative;
    }

    .main-content-inner{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .hero-sec{
        padding: 15px;
    }

    .hero-sec-inner{
        min-height: 170px;
    }

    .hsi-contents{
        gap: 15px;
        padding: 15px 20px;
        width: 97%;
        padding-bottom: 30px;
    }

    .hsi-contents-h h1{
        font-size: 16px;
    }

    .hsi-contents-b p{
        font-size: 12px;
        line-height: 16px;
    }

}